/*SOFT*/
/*
navy: rgb(65, 67, 82);
cream: rgb(253, 244, 229);
soft-red: rgb(171, 70, 67);
powder-blue: rgb(138, 179, 196);
gray: rgb(176, 171, 166);
*/

/*NIGHT SKY*/
/*
dark-navy: rgb(15, 38, 60)
orange: rgb(221, 147, 88)
*/

/*ANTIQUE*/
/*
parchment: rgb(249, 243, 204)
bright-blue: rgb(53, 160, 224)
dark-blue: rgb(35, 98, 178)
*/
