#main {
  display: flex;
  align-items: flex-start;
}

body {
  background-color: rgb(138, 179, 196);
}

canvas {
  background-color: rgb(253, 244, 229);
  margin: 20px;
  border: 1px solid rgb(176, 171, 166);
}

.difficulty-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.difficulty-buttons > li {
  margin: 10px 0;
}

.difficulty-buttons button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
}
